body{
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #84D42A;
}

.quem-somos{
   background-color: #D7BDE2; 
   color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #AED6F1;
}

.bg-footer {
    background-color: black;
    color: white;
}